.TotalInfoPage {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.Rule {
  background-color: silver;
}

.RuleTitle {
  background-color: white;
  height: 9%;
  border-radius: 10px;
  margin: 15px;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 8px;
}

.RuleContent {
  background-color: silver;
  height: calc(58% - 31px);
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
}

.Plan {
  background-color: lightblue;
}

.PlanTitle {
  background-color: white;
  height: 9%;
  border-radius: 10px;
  margin: 15px;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 8px;
}

.PlanContent {
  background-color: lightblue;
  height: 50%;
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
}

li {
  font-size: 18px;
}

hr {
  margin-right: 10px;
}

.goalpost {
  width: 100%;
  height: calc(40% - 24px);
}

.leftgoalpost {
  width: 100%;
  height: 33%;
}
