.matchView {
  display: flex;
  border: 1px solid;
  align-content: center;
}

.matchTeamPart {
  background-color: white;
  width: 75%;
}

.matchScorePart {
  background-color: white;
  width: 5%;
  text-align: center;
}

hr {
  background-color: black;
}

.matchDatePart {
  background-color: white;
  width: 20%;
  text-align: center;
}

.MatchDate {
  font-size: 20px;
  font-weight: 700;
}

.matchUpdatePart {
  display: flex;
  text-align: center;
}

.matchScoreUpdatePart {
  background-color: steelblue;
  width: 80%;
  text-align: center;
}

.matchDateUpdatePart {
  background-color: tomato;
  width: 20%;

  text-align: center;
}
