.matches {
  display: grid;
  grid-template-columns: 50% 50%;
}

.matchView {
  display: flex;
  border: 1px solid;
  align-content: center;
}

.matchTeamPart {
  background-color: white;
  width: 60%;
}

.matchScoreUpdatePart:hover {
  background-color: rgb(220, 220, 220);
}

.matchScorePart {
  background-color: rgb(230, 230, 230);
  width: 5%;
  text-align: center;
}

hr {
  background-color: black;
}

.matchDatePart {
  background-color: white;
  width: 35%;
  text-align: center;
}

.MatchDate {
  font-size: 20px;
  font-weight: 700;
}

.matchUpdatePart {
  display: flex;
  text-align: center;
}

.matchScoreUpdatePart {
  background-color: silver;
  width: 65%;
  text-align: center;
}

.matchDateUpdatePart {
  background-color: midnightblue;
  color: white;
  width: 35%;

  text-align: center;
}

.matchDateUpdatePart:hover {
  background-color: rgb(40, 40, 135);
}

.backButton {
  height: 20%;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding-left: 20px;
}

.updateButton {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.query {
  height: 60%;
}
