.instruction {
  width: 25%;
  text-align: left;
  background-color: silver;
  height: 50px;
  margin: 20px;
  padding-top: 1px;
  padding-left: 10px;
  border-radius: 15px;
}

.tableDiv {
  width: 100%;
}

.Ranking {
  width: 100%;
  justify-content: center;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

th {
  background-color: midnightblue;
  color: whitesmoke;
}

.td_ranking,
.td_teamName,
.td_point {
  font-weight: bold;
}
